* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/*header info*/

h1 {
    font-size: 80px;
    color: teal;
}
#Timer {
    font-size: 40px;
    color: red;
}


#Timer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: top;
    min-height: 200px;
}

/*Question box styling*/

main {
    margin: 0px 40px;
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    justify-content: space-evenly;
    border-radius: 15px;
}

#Btn {
    padding: 20px;
    font-size: 20px;
}

#Question {
    font-size: 40px;
}

.answer {
    background-color: aqua;
    font-size: 20px;
}

.answer:hover {
    background-color: yellow;
}

.Restart-Btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Restart {
    padding: 20px;
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 30px;
    color: green;
}